.idea/workspace.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/description.html
.idea/ant.xml
Git-Othello.iml
.idea/vcs.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/libraries/lib.xml
/out/